    <link rel="stylesheet" href="/css/user/footer.css">
    <footer class="main-footer">
        <div class="footer-container">
            <div class="footer-col">
                <a href="#" class="logo footer-logo">
                    <div class="logo-icon">
                        <img src="https://img.icons8.com/ios-filled/50/ffffff/laptop.png" alt="LapStore Logo Icon" width="18">
                    </div>
                    <span class="logo-name">LapStore</span>
                </a>
                <p class="footer-about">
                    Your one-stop shop for the latest laptop technology. We offer the best prices and fast, reliable shipping.
                </p>
            </div>
            
            <div class="footer-col">
                <h4>Shop</h4>
                <ul>
                    <li><a href="#">Latest Launches</a></li>
                    <li><a href="#">Popular</a></li>
                    <li><a href="#">Best Sellers</a></li>
                    <li><a href="#">All Brands</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>Help</h4>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping & Returns</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-youtube'></i></a>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>