    <footer class="page-footer">
        <p>&copy; 2024 LapStore. All rights reserved.</p>
        <div class="footer-links">
            <a href="#">Help</a>
            <span>&middot;</span>
            <a href="#">Contact Us</a>
        </div>
    </footer>


</body>
</html>