<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>404 Not Found</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
      background: rgb(249, 253, 255);
      color: #0751ff;
    }

    h1 {
      font-size: 2.5rem;
    }
  </style>
</head>

<body>
  <h1>404 - Page Not Found 🚫</h1>
</body>

</html>